RewriteEngine On

# Serve CSS file
RewriteRule ^css/(.*)$ styles.css [L]

# Handle other requests
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [NC,L]

# Custom 404 page
ErrorDocument 404 /404.html
