.cards-container {
    position: relative;
    width: 90vw;
    height: calc(100vh - 100px);
    margin-top: 30px;
}

.card {
    width: 300px;
    height: 400px;
    position: absolute;
    
    transition: transform 1s, left 0.5s;
    transform-style: preserve-3d;
    transform: translateY(0) rotateY(0deg);
    left: 0;
}

.card-inner {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    
}

.card-front, .card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
}

.card-front {
    background-color: #fff;
    color: #000;
    z-index: 2;
    border: 1px solid black;
    border-radius: 8px;
    transform: rotateY(180deg);
}

.card-back {
    border-radius: 8px;
    border: 1px solid black;
    background-color: white;
    color: #fff;
}

.stacked {
    transform: translateY(-50px);
}

.flipped {
    transform: rotateY(180deg);
}

.moved {
    left: calc((90vw / 2) - 50px);
    transform: translateY(-50px) rotateY(180deg);
}

.fanned {
    transition: transform 0.5s;
}

.flex-center-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card .fanned:hover {
    cursor: pointer;
    transform: scale(1.1)
}

.card .closed:hover {margin-top: -20px; margin-bottom: 50px;}

.card-position-4 {
    transform: rotate(15deg) rotateY(180deg) translateY(-48px) translateX(12px);
    z-index: -3;
    transition: transform 0.5s ease-in-out; /* Smooth transition for transforms */
    pointer-events: none;
  }
  
  .card-position-3 {
    transform: rotateY(180deg) translateY(-50px) translateX(20px);
    z-index: -2;
    transition: transform 0.5s ease-in-out; /* Smooth transition for transforms */
    pointer-events: none;
  }
  
  .card-position-2 {
    transform: rotate(-15deg) rotateY(180deg) translateY(-50px) translateX(20px);
    z-index: -1;
    transition: transform 0.5s ease-in-out; /* Smooth transition for transforms */
    pointer-events: none;
  }
  
  .card-position-1 {
    transform: rotate(-30deg) rotateY(180deg) translateY(-50px) translateX(20px);
    z-index: 1;
    transition: transform 0.5s ease-in-out; /* Smooth transition for transforms */
    pointer-events: all;
  }
  
  .card-position-1:hover {
    transform: scale(1.25) rotateY(180deg) !important;
    margin-top: -50px;
    cursor: pointer;
    transition: transform 0.3s ease; /* Smooth transition when hovered */
  }
  