
@font-face {
  font-family: 'PinkSunset-Regular';
  src: url('assets/fonts/PinkSunset-Regular.otf') format('opentype');
}
@font-face {
	font-family: 'PalaceRegular';
	src: url('assets/fonts/palace-regular.woff') format('woff'),
  url('assets/fonts/palace-regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'PalaceRegular-Italic';
  
	src: url('assets/fonts/palace-italic.woff2') format('woff'),
  url('assets/fonts/palace-italic.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

* {box-sizing: border-box; font-family: "PalaceRegular", serif; transition: ease; transition: all ease-in-out}

:root {
    --about-hero-link-height: 50%;
    --cream: #f8f6ea;
}
html {max-width: 100vw; min-height: 100vh; width: 100%; overflow-x: hidden; background: #E8E0D2;}
body { margin: 0px;}


.flex-center-center {display: flex; align-items: center; justify-content: center; flex:1}
.flex-center-end {display: flex; align-items: center; justify-content: flex-end; flex:1}
.flex-center-start {display: flex; align-items: center; justify-content: flex-start; flex:1}
.flex-center-spacebetween {display: flex; align-items: center; justify-content: space-between; flex:1}
.flex-center-spaceevenly {display: flex; align-items: center; justify-content: space-evenly; flex:1}

.flex-start-center {display: flex; align-items: flex-start; justify-content: center; flex:1}
.flex-start-start {display: flex; align-items: flex-start; justify-content: flex-start; flex:1;}
.flex-start-end {display: flex; align-items: flex-start; justify-content: flex-end; flex:1;}
.flex-start-spacebetween {display: flex; align-items: flex-start; justify-content: space-between; flex:1;}
.flex-start-spaceevenly {display: flex; align-items: flex-start; justify-content: space-evenly; flex:1;}

.flex-end-center {display: flex; align-items: flex-end; justify-content: center; flex:1;}
.flex-end-start {display: flex; align-items: flex-end; justify-content: flex-start; flex:1;}
.flex-end-end {display: flex; align-items: flex-end; justify-content: flex-end; flex:1;}
.flex-end-spacebetween {display: flex; align-items: flex-end; justify-content: space-between; flex:1;}
.flex-end-spaceevenly {display: flex; align-items: flex-end; justify-content: space-evenly; flex:1;}


.flex-column {flex-direction: column;}
.flex-wrap {flex-wrap: wrap}
.no-flex-grow {flex: unset;}

.no-text-spacing {margin: 0; padding: 0; line-height: 0;}

.hover:hover {cursor: pointer; transform: scale(1.05);}
a:hover {cursor: pointer; transform: scale(1.05);}
.hover {cursor: pointer;}
.box-shadow {box-shadow: 2px 2px 2px rgba(0,0,0,0.5);}
.text-shadow {text-shadow: 0 0 2px rgba(0,0,0,0.5);}

.active-link {font-weight: 900!important; border-bottom: 2px solid black; }
.active-link .engraved a {background-color: red!important; -webkit-background-clip: text; -moz-background-clip: text; background-clip: text; color: transparent; text-shadow: rgba(255,255,255,.5) 1px 2px 1px;}

    

main {width: 100%;}

#designElixirCredits {text-decoration: none; font-size: 12px; color: black;}


h1 {font-size: clamp(36px, 3rem, 48px); margin: 10px 0; line-height: clamp(40px, 3.25rem, 52px); font-family: 'PalaceRegular', serif;  font-style: italic;}
h2 {font-size: clamp(32px, 2.5rem, 36px); margin: 10px 0; line-height: clamp(32px, 2.5rem, 36px); font-family: 'PalaceRegular-Italic', serif;}
p {margin: 5px 0; font-weight: 100; font-style: normal; font-size: 16px; font-family: 'PalaceRegular', serif!important; font-size: 24px;}



/* Navigation styles */
#mainHeader {padding: 15px; width: 100vw;}

.nav-link {margin: 0 5px; font-size: 22px; font-family: 'PalaceRegular', serif; font-weight: 500; color: black; text-decoration: none; text-align: center;}


.mobile-logo {display: none; height: 75px;}
nav {width: 100%;}
.homepage-logo {height: 75px; margin-top: 10px; margin-bottom: -35px; z-index: 2;}
.paper-bg {background-image: url('assets/paper.png'); background-size: 100%; background-position: center center;}
.desktop-logo {height: 75px;}
.small-hero { width: 100%;}
.hero-title {padding: 25px 25px 0px; margin-top: 50px;}
.engraved {background-color: black; -webkit-background-clip: text; -moz-background-clip: text; background-clip: text; color: transparent; text-shadow: rgba(245,245,245,0.2) 1px 2px 1px;}

@media screen and (max-width: 800px) {
  .desktop-logo {display: none!important;}
  .mobile-logo {display: block; margin-bottom: 15px;}
  .logo-icon {width: 75px;}
  .logo {height: 100px;}
  nav {width: 100%; }
  .small-hero {text-align: center;}
  .homepage-logo {height: 70px;}
  
}

/* Homepage Hero */
#Home { height: 100vh; overflow-y: hidden;}
.home-wrapper {padding: 2.5vh 2.5vh;}
.homepage-hero { height: 100%; width: 100%; margin: -230px 2.5vw; background-image: url('assets/circle-corner-bg-wide.png'); background-repeat: no-repeat; background-position: center; background-size: 100% 100%}
.filgery-container {width: 100%; }
.filgery-container img {max-width: 100px; min-width: 100px; width: 100%;}
#currentFilgery {font-size: 14px;}
.filgery-bg {height: 60px; width: 60px; background-image: url('assets/circle-corner.svg'); margin: 10px; background-size: 60px 60px; background-repeat: no-repeat;}
.shuffle-button {font-size: 24px; position: fixed; top: 125px; left: 125px; border: 1px solid black; padding: 5px 20px; border-radius: 4px; font-family: 'carol-gothic', sans-serif; z-index: 10;}

#aboutCard {transform: rotate(-45degrees)}

/* About */
.about-hero { min-height: 60vh; height: 100%; max-height: 60vh; width: 100%; background-image: url('assets/ReannaPortrait-bg.png'); background-size: cover; background-position: center 100%; background-origin: 0% 0%; background-repeat: no-repeat;}
.about-hero-link { width: 100%; height: 62.25vh; background-image: url('assets/ReannaPortrait-cutout.png'); background-size: contain; background-position: center 100%; background-repeat: no-repeat; }
.about-hero-link h1 {padding: 25px; color: var(--cream); text-shadow:0px 0px 5px black; }
.reanna-cutout {height: 100%;}

.about-content {padding: 25px;}
.about-content-text {width: 60%; }
.about-content-socials { padding-left: 50px;}
.about-content-images {padding: 25px 0; }
.about-content-images img {width: 100%;}
.about-content-images img:nth-child(1) {margin-right: 50px}
.social-icon {width: 25px; margin-right: 10px;}
.social-link a {text-decoration: none; color: black; font-family: 'PalaceRegular', serif!important; }
.social-link {margin: 10px 0px}

@media screen and (max-width: 700px) {
  .about-hero-link {height: 59.5vh; background-position: 100% 100%;}
  .about-hero-link h1 {width: 100px;}
  .about-content {flex-direction: column;}
  .about-content-text, .about-content-socials {width: 100%; padding: unset;}
  .about-content-images img:nth-child(1) {margin-right: 25px}
  
}

.project-title {
    background: #E8E0D2;
    background-position: cover;
    text-shadow: -0.5px 0 1px black, 0 0.5px 1px black, 0.5px 0 1px black, 0 -0.5px 1px black;
    background-position: center 90%;
    -webkit-background-clip: text;
    font-family: 'PalaceRegular', serif;
    text-transform: uppercase;
    color: #E8E0D2;
    
}

.project-closer-button {
  padding: 20px; background: white; position: absolute;
  top: 0;
  left: 0;
  z-index: 301;
  border: 3px solid black;
  border-radius: 5px;
}

.project-column {width: 27%;}
.project-column-wide {width: 38%;  }

@media screen and (max-width: 700px) {
  .project-column .photo-card-wrapper .card {width: 100%; height: 500px;}
  .project-column-wide .photo-card-wrapper .card {min-width: 100%;  min-height: 280px;}
  .project-column {width: 400px;}
  .project-column-wide {width: 100%; margin: 0px}
  .project-title {display: block;}
}
/* Photography */

.photography-container { padding: 25px;  width: 100%;}
.photography-project-wrapper:hover {transform: scale(1.01); cursor: pointer; }
.photography-project-wrapper {border-radius: 8px; padding: 10px; margin-bottom: 25px; width: 100%}
.photography-project { border-radius: 6px;  background-size: cover; background-repeat: no-repeat; background-position: center center;}

.photography-project-wrapper:hover .open {transform: unset;}

.project-column .photography-project {height: 100%;}
.project-column-wide .photography-project {height: 100%}

#ItzcalliMarie {background-image: url('photography/ItzcalliMarie/F1000011.JPG'); }
#SophieBabette {background-image: url('photography/SophieBabette/IMG_7807.jpg'); }
#MarieLouise {background-image: url('photography/MarieLouise/Marie.JPG'); }
#MonetCheung {background-image: url('photography/MonetCheung/Monet-11.jpg'); }
#LeiShimabukuro {background-image: url('photography/LeiShimabukuro/AJK-10.jpg'); }
#TheGeminiSet {background-image: url('photography/TheGeminiSet/BRENNANDANI-3.jpg'); }

/* Footer */
.footer-container {padding: 25px;}


/* Animations */
.fade-in{-webkit-animation:fade-in 2s cubic-bezier(.39,.575,.565,1.000) both;animation:fade-in 2s cubic-bezier(.39,.575,.565,1.000) both}
@-webkit-keyframes fade-in{0%{opacity:0}100%{opacity:1}}@keyframes fade-in{0%{opacity:0}100%{opacity:1}}

#socialsContainer {position: relative;}
#floatingDiv {
  width: 100px;
  height: 100px;
  cursor: pointer;
  position: absolute;
  top: 40%;
  left: 90%;
  
}
#floatingDivContainer {
  width: 100%; height: 100%; 
  background-image: url('assets/luck-knife.svg'); background-size: 100%; background-repeat: no-repeat; background-position: center; transform: rotate(-45deg);
}


#floatingDivContainer:hover {background-image: url('assets/goodluckbuck.svg'); transform: rotate(0deg); cursor: pointer;} 

.marquee {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  
}

.knife {
  min-width: 150px;
  max-width: 150px;
  height: 50px;
  
  background-size: 125px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
  flex-shrink: 0;
  /* Ensure items don't shrink */
}


.marquee-content {
  padding: 10px;
}

.knife:nth-child(odd) {
background-image: url('assets/luck-knife.svg');

}

.knife:nth-child(even) {
background-image: url('assets/luck-knife-inverted.svg');

}

@keyframes marquee {
  0% {
      transform: translateX(0);
  }

  100% {
      transform: translateX(-100%);
  }
}

.marquee-content {
  display: flex;
  animation: marquee 300s linear infinite;
}






.star {
  position: fixed;
  font-size: 30px;
  transform-origin: center;
  z-index: 10000;
  pointer-events: none;
}

.star1 {
  padding-left: 15px; padding-top: 15px;
  transition: left 0.02s linear, top 0.02s linear;
  animation: vibrate-1 3s linear infinite both;
}

.star2 {
  transition: left 0.035s linear, top 0.035s linear;
  padding-left: 10px;
  padding-top: 25px;
  animation: vibrate-1 2s linear infinite both;
}

.star3 {
  transition: left 0.03s linear, top 0.03s linear;
  padding-top: 40px;
  animation: vibrate-1 4s linear infinite both;
}





.hovercursor:nth-child(odd) {
  animation: blink-1 2s infinite alternate-reverse both;
}

.hovercursor:nth-child(even) {
  animation: blink-1 3s infinite  both;
}


@keyframes vibrate-1 {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-4px, 4px);
  }
  40% {
    transform: translate(-2px, -2px);
  }
  60% {
    transform: translate(4px, 4px);
  }
  80% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(0);
  }
}


@keyframes blink-1 {
  0%,
  50%,
  100% {
    opacity: 1;
    
  }
  25%,
  75% {
    opacity: 0.25;
    
  }
}

.knife:hover {
  background-image: url('assets/goodluckbuck.svg');
  cursor: pointer;
}


