* {box-sizing: border-box; font-weight: 100; font-family: var(--palace-regular); }
@font-face {
  font-family: 'PalaceRegular';

  src: 
  url("/fonts/palace-regular.ttf") format("truetype");
  /* url("/fonts/palace-regular.woff2") format("woff2"),
       url("/fonts/palace-regular.woff") format("woff"); */
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PalaceItalic';
  src: url("/fonts/palace-italic.ttf") format("truetype");
  /* url("/fonts/palace-italic.woff2") format("woff2"),
       url("/fonts/palace-italic.woff") format("woff"); */
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'REANNAICONS';
  src: url('/fonts/REANNAICONS.eot');
  src: url('/fonts/REANNAICONS.eot?#iefix') format('embedded-opentype'),
       url('/fonts/REANNAICONS.woff') format('woff'),
       url('/fonts/REANNAICONS.ttf') format('truetype'),
       url('/fonts/REANNAICONS.svg#REANNAICONS') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class*='icon-']:before{
display: inline-block;
 font-family: 'REANNAICONS';
 font-style: normal;
 font-weight: normal;
 line-height: 1;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale
}
.icon-filgery-left:before{content:'\0041';}
.icon-filgery-right:before{content:'\0042';}
.icon-flower:before{content:'\0043';}
.icon-instagram:before{content:'\0044';}
.icon-youtube:before{content:'\0045';}
.icon-foundations:before{content:'\0046'; font-size: 38px}
.icon-spotify-outline:before{content:'\0047';}
.icon-email:before{content:'\0048';}
.icon-spotify-solid:before{content:'\0049';}
.social-icon {font-size: 22px; line-height: 0; margin-right: 10px;}


@font-face {
  font-family: 'AndaleMono';
  src: url("/fonts/andalemono.woff2") format("woff2"),
       url("/fonts/andalemono.woff") format("woff");
  font-style: normal;
}

:root {
  
  --off-black: #1e1e1e;
  --off-black-transparent: "rgba(30,30,30,0.75)";
  --deep-red: #840015;
  --palace-regular: "PalaceRegular", sans-serif;
  --palace-italic: "PalaceItalic", serif!important;
  --modern-font: "AndaleMono", monospace;
  --custom-symbols: "REANNAICONS", monospace;
}

html {max-width: 100vw; overflow-x: hidden; background-image: url('/tile1.jpg'); background-size: 400px; background-position: fixed; }
body {width: 100%; margin: 0px}

.custom-symbol-font * {font-family: var(--custom-symbols)}
.modern-font {font-family:var(--modern-font)!important; text-transform: uppercase!important; }
.modern-font * {font-family:var(--modern-font)!important; text-transform: uppercase!important; }
.modern-font strong {font-family:var(--modern-font)!important; text-transform: uppercase!important; font-weight: 800;}
.palace-italic {font-family: var(--palace-italic)!important;}
.palace-regular {font-family: var(--palace-regular)!important;}
.bullet {font-size: 12px; line-height: 0;}
.s-text {font-size: 18px;}
.xs-text {font-size: 12px!important;}

.bio-font i {font-family:var(--modern-font)!important; font-size: 16px; line-height: 14px!important; font-style: normal!important; text-transform: uppercase; }

.flex-center-center {display: flex; align-items: center; justify-content: center; flex:1}
.flex-center-end {display: flex; align-items: center; justify-content: flex-end; flex:1}
.flex-center-start {display: flex; align-items: center; justify-content: flex-start; flex:1}
.flex-center-spacebetween {display: flex; align-items: center; justify-content: space-between; flex:1}
.flex-center-spaceevenly {display: flex; align-items: center; justify-content: space-evenly; flex:1}

.flex-start-center {display: flex; align-items: flex-start; justify-content: center; flex:1}
.flex-start-start {display: flex; align-items: flex-start; justify-content: flex-start; flex:1;}
.flex-start-end {display: flex; align-items: flex-start; justify-content: flex-end; flex:1;}
.flex-start-spacebetween {display: flex; align-items: flex-start; justify-content: space-between; flex:1;}
.flex-start-spaceevenly {display: flex; align-items: flex-start; justify-content: space-evenly; flex:1;}

.flex-end-center {display: flex; align-items: flex-end; justify-content: center; flex:1;}
.flex-end-start {display: flex; align-items: flex-end; justify-content: flex-start; flex:1;}
.flex-end-end {display: flex; align-items: flex-end; justify-content: flex-end; flex:1;}
.flex-end-spacebetween {display: flex; align-items: flex-end; justify-content: space-between; flex:1;}
.flex-end-spaceevenly {display: flex; align-items: flex-end; justify-content: space-evenly; flex:1;}

.full-width {width: 100%!important}

.margin-left {margin-left: 10px;}
.margin-right {margin-right: 10px;}
.margin-top {margin-top: 10px;}
.margin-bottom {margin-bottom: 10px;}

.flex-column {flex-direction: column;}
.flex-wrap {flex-wrap: wrap}
.no-flex-grow {flex: unset;}
.no-text-spacing {padding: 0; line-height: 0; margin: 0;}

h1 {font-size: 72px; line-height: 80px; font-weight: 100; margin: 0;}
h2 {font-size: 48px;  line-height: 60px; font-weight: 100; margin: 0;}
h3 {font-size: 24px; font-family: var(--modern-font)!important; text-transform: uppercase; font-weight: 700}
p {font-size: 22px; line-height: 26px; font-weight: 200; margin: 0; font-family: var(--modern-font)!important;}
strong {font-weight: 700}
i * {font-family: var(--palace-italic)!important;}
.italic * {font-family: var(--palace-italic)!important;}




.all-caps {text-transform: uppercase;}
.aalt { font-feature-settings: 'aalt' on!important; }
.aalt1 {font-feature-settings: 'aalt1' on!important; margin: 0 -4px 0 3px;}
.aalt2 {font-feature-settings: 'aalt2' on!important; margin: 0 -4px 0 3px;}
.aalt3 {font-feature-settings: 'aalt3' on!important; margin: 0 -4px 0 3px;}
.aalt4 {font-feature-settings: 'aalt4' on!important; margin: 0 -4px 0 3px;}

.white-text {color: white!important;}
.all-caps {text-transform: uppercase;}
.no-link-styling {text-decoration: unset!important;}
.no-link-styling:hover {text-decoration: unset!important; transform: scale(1.01); color: inherit;}
.centered-text {text-align: center;}
.black-text {color: var(--off-black)!important;}
.white-button {padding: 10px; border: 1px solid black; border-radius: 5px;}

.white-text-glow {text-shadow: 0 0 2px white; color: white;}
.black-text-glow {text-shadow: 0 0 2px var(--off-black); color: var(--off-black)}
.white-flower {text-shadow: 0 0 2px lightgray; color: white; font-size: 14px; margin: 0 10px;}
.black-flower {text-shadow: 0 0 2px var(--off-black); color: var(--off-black)}

.navigation-spacer {height: 150px}
.active-tab {font-weight: 700; text-decoration: underline;}
nav {padding: 10px; position: absolute; top: 0; left: 0; width: 100vw;}
.nav-link 
{font-size: 18px;
  text-decoration: unset!important; 
  width: 100%;
  color: var(--off-black);
  text-align: center;
}
.nav-link:hover {text-shadow: unset!important; color: var(--deep-red); text-shadow: 0 0 1.25px var(--deep-red)!important;}

.active-link {text-decoration: unset!important; color: var(--deep-red)}
.black-text-glow  .active-link {text-shadow: 0 0 1.25px var(--deep-red)!important; color: var(--deep-red)}

.logo-container {padding: 0px 2vw;}
.logo-wrapper { width: 100%; max-width: 750px; padding: 25px;}
.text-logo-wrapper {min-width: 300px; background-image: url('../public/logo-shelf.png'); background-size: contain; background-repeat: no-repeat; background-position: center 100%;}
.logo {min-height: 100px; width: 45vw; height: 10vh; min-width: 300px; 
  background-image: url('../public/reanna-chambers-logo.png'); background-size: contain; background-repeat: no-repeat; background-position: center 15px; background-origin: center center;}

  .large-logo {font-size: clamp(56px, 5em, 96px)}
  .small-logo {font-size: clamp(36px, 3em, 56px);}

  /* Logo.tsx */
.logo-container {margin-top: 5px;}
.logo-text {font-size: clamp(24px, 2.5rem, 42px)!important; line-height: clamp(20px, 3rem, 30px)!important; text-align: center; margin-bottom: 25px;
}

.large-logo-line{ letter-spacing: -2px; font-size: 140%; transform: translateY(-22px)}
.small-logo-line{ letter-spacing: -2px; font-weight: 900; font-size: 90%; transform: translateY(-30px)}
.logo-break {display: none;}

@media screen and (max-width: 750px) {
  .large-logo .logo-first-letter {font-feature-settings: 'aalt' on;}
  .logo-break {display: block; height: 0; margin-top: -25px;}
  .logo-chambers {margin-left: 25px;}
  .logo-flower {display: block; margin-top: 15px}
  .large-logo {font-size: 56px;}
.logo-line {font-size: 95%; transform: translateY(-25px)}
  .homepage-description-text {font-size: 36px; line-height: 40px;}
  .hero-wrapper {min-height: 400px;}
}
  
  @media screen and (max-width: 750px) {
    nav { flex-wrap: wrap;}
    .logo-container {order: 1; width: 100vw; min-width: 100%;}
    .links-left {order: 2; width: 45%; min-width: 45vw;}
    .links-right {order: 3; width: 45%; min-width: 45vw;} 
    
  }



.hover:hover {cursor: pointer; transform: scale(1.05);}
.hover {cursor: pointer;}
.box-shadow {box-shadow: 2px 2px 2px rgba(0,0,0,0.25);}
.text-shadow {text-shadow: 0 0 2px rgba(0,0,0,0.5);}



.basic-padding {padding: 25px}

#designElixirCredits {text-decoration: none; font-size: 12px; color: black;}

/* Marquee */

#marqueeWrapper {background: var(--off-black); width: 100vw; overflow-x: hidden; opacity: 0; transition: opacity 0.8s ease;}
.marquee-container { color: white; font-family: var(--palace-regular); font-size: 24px;  padding: 10px 0; line-height: 0;}
.marquee-image {margin: 0 15px;}

/* Homepage */
#Home { overflow: hidden; max-height: 100vh; max-width: 100vw; }
.hero-wrapper > * {opacity: 0;}
.hero-wrapper {max-width: 100vw; height: 60vh; min-height: 480px;}
.logo-hero {width: 100%; height: 40%; }
.description-hero {width: 100%; height: 30%;  text-align: right;}
.noise-overlay {background-image: url('/noise.png'); background-size: 100%;}


.fade-in{-webkit-animation:fade-in 1.2s cubic-bezier(.39,.575,.565,1.000) both;animation:fade-in 1.2s cubic-bezier(.39,.575,.565,1.000) both; }
@-webkit-keyframes fade-in{0%{opacity:0}100%{opacity:1}}@keyframes fade-in{0%{opacity:0}100%{opacity:1}}

.fade-in-2{-webkit-animation:fade-in 2s cubic-bezier(.39,.575,.565,1.000) both;animation:fade-in 2s cubic-bezier(.39,.575,.565,1.000) both; }

.card:hover {transform: scale(1.01); cursor: pointer; transition: transform 0.5s ease}

.dark-section {background: var(--off-black)}


/* Hide scrollbars */
.hide-scrollbars {
  overflow: scroll; /* Ensure scrolling is enabled */
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.hide-scrollbars::-webkit-scrollbar {display: none; /* For Chrome, Safari, and Edge */}

/* Lightbox.tsx */


/* Footer */
footer {z-index: 1;}
footer a {z-index: 1;}
.invert-img {
  filter: invert(1);
  transition: filter 0.3s ease-in-out;
}



/* VideoPlayer.tsx */
.video-container {width: 100%!important;}
.video {aspect-ratio: 2/1; flex-grow: 1; display: flex; align-items: flex-center; justify-content: center; width: 100%;}
.half-video {min-width: 50%;}
.full-video {min-width: 100%;}
media-theme-sutro {min-width: 100%; aspect-ratio: 1.5/1!important;  flex-grow: 1;}
.video-wrapper { padding-right: 25px; width: 50%;}


@media screen and (max-width: 1200px) {
  .half-video {min-width: 100%; min-height: 40vw; aspect-ratio: 2/1!important;}
  .video-wrapper {margin-right: unset; margin-bottom: 25px;}
}

@media screen and (max-width: 950px) {
  .break-950 {flex-direction: column;}
  .break-950-children {width: 100%; margin: 25px 0 0 0;}
}

