* {box-sizing: border-box; font-weight: 100; font-family: var(--palace-regular); }
@font-face {font-family: "PalaceRegular"; src: url("/fonts/palace-regular.ttf") format("truetype"); font-weight: 100; font-style: normal;}
@font-face {font-family: "PalaceItalic"; src: url("/fonts/palace-italic.ttf") format("truetype"); font-weight: 100; font-style: italic;}

:root {
  --palace-regular: "PalaceRegular", sans-serif;
  --palace-italic: "PalaceItalic", serif;
  --off-black: #1e1e1e;
  --palace-regular: 'Palace', sans-serif; /* Fallback font */
}

html {max-width: 100vw; overflow-x: hidden; background-image: url('/bg.jpg'); }
body {width: 100%; margin: 0px}


.flex-center-center {display: flex; align-items: center; justify-content: center; flex:1}
.flex-center-end {display: flex; align-items: center; justify-content: flex-end; flex:1}
.flex-center-start {display: flex; align-items: center; justify-content: flex-start; flex:1}
.flex-center-spacebetween {display: flex; align-items: center; justify-content: space-between; flex:1}
.flex-center-spaceevenly {display: flex; align-items: center; justify-content: space-evenly; flex:1}

.flex-start-center {display: flex; align-items: flex-start; justify-content: center; flex:1}
.flex-start-start {display: flex; align-items: flex-start; justify-content: flex-start; flex:1;}
.flex-start-end {display: flex; align-items: flex-start; justify-content: flex-end; flex:1;}
.flex-start-spacebetween {display: flex; align-items: flex-start; justify-content: space-between; flex:1;}
.flex-start-spaceevenly {display: flex; align-items: flex-start; justify-content: space-evenly; flex:1;}

.flex-end-center {display: flex; align-items: flex-end; justify-content: center; flex:1;}
.flex-end-start {display: flex; align-items: flex-end; justify-content: flex-start; flex:1;}
.flex-end-end {display: flex; align-items: flex-end; justify-content: flex-end; flex:1;}
.flex-end-spacebetween {display: flex; align-items: flex-end; justify-content: space-between; flex:1;}
.flex-end-spaceevenly {display: flex; align-items: flex-end; justify-content: space-evenly; flex:1;}

.full-width {width: 100%!important}

.margin-left {margin-left: 10px;}
.margin-right {margin-right: 10px;}
.margin-top {margin-top: 10px;}
.margin-bottom {margin-bottom: 10px;}

.flex-column {flex-direction: column;}
.flex-wrap {flex-wrap: wrap}
.no-flex-grow {flex: unset;}
.no-text-spacing {padding: 0; line-height: 0; margin: 0;}

h1 {font-size: 72px; line-height: 80px; font-weight: 100; margin: 0;}
h2 {font-size: 48px;  line-height: 60px; font-weight: 100; margin: 0;}
h3 {font-size: 24px;}
p {font-size: 22px; line-height: 26px; font-weight: 200; margin: 0;}
strong {font-weight: 700}
i * {font-family: var(--palace-italic)!important;}
.all-caps {text-transform: uppercase;}
.aalt { font-feature-settings: 'aalt' on;}
.aalt1 {font-feature-settings: 'aalt1' on;}
.aalt2 {font-feature-settings: 'aalt2' on;}
.aalt3 {font-feature-settings: 'aalt3' on;}
.aalt4 {font-feature-settings: 'aalt4' on;}

.white-text {color: white!important;}
.all-caps {text-transform: uppercase;}
.no-link-styling {text-decoration: unset;}
.no-link-styling:hover {text-decoration: underline; cursor: url('/star2.svg')!important; color: inherit;}
.centered-text {text-align: center;}
.black-text {color: var(--off-black)!important;}
.white-button {padding: 10px; border: 1px solid black; border-radius: 5px;}


.navigation-spacer {height: 150px}
.active-tab {font-weight: 700; text-decoration: underline;}
nav {padding: 10px; position: absolute; top: 0; left: 0; width: 100vw;}
.nav-link {font-size: 24px; font-family: var(--palace-italic); text-decoration: unset!important; color: var(--off-black);}
.nav-link:hover {color: gray;}

.active-link i {text-decoration: unset; border-bottom: 1px solid black;}
.logo-wrapper { width: 100%; max-width: 750px; padding: 25px;}
.text-logo-wrapper {min-width: 300px; background-image: url('../public/logo-shelf.png'); background-size: contain; background-repeat: no-repeat; background-position: center 100%;}
.logo-text {font-size: clamp(32px, 2.25rem, 36px); margin-bottom: 10px; line-height: 3.25rem; font-weight: 100!important; text-decoration: unset!important;}
.logo-text:hover {text-decoration: unset!important;}
.logo {min-height: 100px; width: 45vw; height: 10vh; min-width: 300px; 
  background-image: url('../public/reanna-chambers-logo.png'); background-size: contain; background-repeat: no-repeat; background-position: center 15px; background-origin: center center;}

  
  @media screen and (max-width: 750px) {
    nav { flex-wrap: wrap;}
    .logo-container {order: 1; width: 100vw; min-width: 100%;}
    .links-left {order: 2; width: 45%; min-width: 45vw;}
    .links-right {order: 3; width: 45%; min-width: 45vw;} 
  }



.hover:hover {cursor: pointer; transform: scale(1.05);}
.hover {cursor: pointer;}
.box-shadow {box-shadow: 2px 2px 2px rgba(0,0,0,0.25);}
.text-shadow {text-shadow: 0 0 2px rgba(0,0,0,0.5);}

.active-link {text-decoration: underline;}

.basic-padding {padding: 25px}

#designElixirCredits {text-decoration: none; font-size: 12px; color: black;}

/* Marquee */

#marqueeWrapper {background: var(--off-black); width: 100vw; overflow-x: hidden; opacity: 0; transition: opacity 0.8s ease;}
.marquee-container { color: white; font-family: var(--palace-regular); font-size: 24px;  padding: 10px 0; line-height: 0;}
.marquee-image {margin: 0 15px;}

/* Homepage */
#Home { overflow-x: hidden; }
.hero-wrapper > * {opacity: 0;}
.hero-wrapper {width: 100vw; height: 70vh; }
.logo-hero {width: 100%; height: 40%; }
.description-hero {width: 100%; height: 30%;  text-align: right;}
.noise-overlay {background-image: url('/noise.png'); background-size: 100%;}

.animation-mobile {display: none}
@media screen and (max-width: 750px) {
  .animation-desktop {display: none;}
  .animation-mobile {display: block;}
}

.fade-in{-webkit-animation:fade-in 1.2s cubic-bezier(.39,.575,.565,1.000) both;animation:fade-in 1.2s cubic-bezier(.39,.575,.565,1.000) both; }
@-webkit-keyframes fade-in{0%{opacity:0}100%{opacity:1}}@keyframes fade-in{0%{opacity:0}100%{opacity:1}}

.expanded-card-loader {width: 300vw; min-width: 300vw; min-height: 300vh; height: 300vh; background-image: url('../public/cards/card-bg.png'); background-size: cover; position: fixed; top: -150vh; left: -150vw; z-index: 30000}




.dark-section {background: var(--off-black)}


/* Hide scrollbars */
.hide-scrollbars {
  overflow: scroll; /* Ensure scrolling is enabled */
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.hide-scrollbars::-webkit-scrollbar {display: none; /* For Chrome, Safari, and Edge */}

/* Lightbox.tsx */


/* Footer */
footer {z-index: 1;}
footer a {z-index: 1;}
.invert-img {
  filter: invert(1);
  transition: filter 0.3s ease-in-out;
}



/* VideoPlayer.tsx */
.video-container {width: 100%!important;}
.video {aspect-ratio: 2/1; flex-grow: 1; display: flex; align-items: flex-center; justify-content: center; width: 100%;}
.half-video {min-width: 500px}
.full-video {min-width: 100%;}
media-theme-sutro {min-width: 100%; aspect-ratio: 1.5/1!important;  flex-grow: 1;}
.video-wrapper { margin-right: 25px;}

@media screen and (max-width: 1200px) {
  .half-video {min-width: 100%; min-height: 40vw; aspect-ratio: 2/1!important;}
  .video-wrapper {margin-right: unset; margin-bottom: 25px;}
}

@media screen and (max-width: 950px) {
  .break-950 {flex-direction: column;}
  .break-950-children {width: 100%; margin: 25px 0 0 0;}
}
