:root {
  --wide-card-width: 36vw!important;
  --tall-card-width: 26vw!important;
}

#cardContainer {width: 100%; min-height: 100vh; padding: 1.5vw; overflow-y: scroll; margin-top: 200px;}
/* 4:3 */
.wide-card { 
  min-width: var(--wide-card-width);
  width: var(--wide-card-width); 
  max-width: var(--wide-card-width);

  min-height: var(--tall-card-width);
  height: var(--tall-card-width); 
  max-height: var(--tall-card-width); 
  margin: 0 1vw 4vw;
}
.tall-card {
  margin: 0 1vw 2vw;
  min-width: var(--tall-card-width);
  width: var(--tall-card-width); 
  max-width: var(--tall-card-width);
  
  min-height: var(--wide-card-width);
  height: var(--wide-card-width); 
  max-height: var(--wide-card-width); 
}

@media screen and (max-width: 600px) {
.wide-column {flex-direction: column; min-width: 95vw!important; width: 100%; max-width: 90vw;}
.card, .wide-card, .tall-card {width: 94vw!important; min-height: 60vw!important; height: 60vw!important;  max-height: 60vw!important; max-width: unset!important; }
.card-inner {min-height: 60vw;}
#column1 {min-width: 100vw; max-width: unset; width: 100vw;}
#cardContainer {flex-direction: column; height: 100%;}
}

@media screen and (max-width: 750px){
  
  #column1 {min-width: 45vw; max-width: 45vw;}
  #column2and3wrapper {flex-direction: column;}
  #column3 .tall-card {width: 48vw; height: 36vw; max-height: 36vw; max-width: 48vw;}
  .wide-card {width: 48vw; height: 36vw; max-height: 36vw; max-width: 48vw;}
  .tall-card {width: 38vw; height: 48vw; max-height: 48vw; max-width: 38vw;}
}

.masonry-grid {
  display: flex;
  width: 100%;
}

.masonry-column {
  background-clip: padding-box;
}

.wide-column { width: 100%;}
.card { perspective: 1000px;}
.card-inner {width: 100%; height: 100%; border-radius: 10px; border: 2px solid black; transform-style: preserve-3d;}
.card-inner.flip {transform: rotateY(180deg);}

.front, .back {position: absolute; width: 100%; height: 100%; backface-visibility: hidden; border-radius: 8px;}
.front {background-image: url('/cards/card-bg.png'); background-size: cover; background-position: center; z-index: 2; transform: rotateY(0deg);}
.back {background-color: white; background-size: cover; background-position: center center; background-repeat: no-repeat; transform: rotateY(180deg);}

.front-content {width: 100%; height: 100%;  padding: 1.5vw; background: white; border: 2px solid black; opacity: 0; transition: opacity 0.5s ease; border-radius: 5px; }
.front-content-wrapper {object-fit: contain; overflow-y: scroll; max-height: 85vh;}
.visible-content {opacity: 1 !important;}

.back-content {padding: 10px;}
.project-title {background: #E8E0D2; font-size: clamp(24px, 4vw, 36px); line-height: clamp(30px, 5vw, 42px);  text-shadow: -0.5px 0 1px black, 0 0.5px 1px black, 0.5px 0 1px black, 0 -0.5px 1px black; background-position: center 90%; -webkit-background-clip: text; font-family: 'PalaceRegular', serif; text-transform: uppercase; color: #E8E0D2; margin: 0;}
.project-subtitle {background: #E8E0D2;  text-align: center; text-shadow: -0.5px 0 1px black, 0 0.5px 1px black, 0.5px 0 1px black, 0 -0.5px 1px black; background-position: center 90%; -webkit-background-clip: text; font-family: 'PalaceRegular', serif; text-transform: uppercase; color: #E8E0D2; margin: 0;}

#viewerWindow {width: 100vw; height: 100vh; position: fixed; top: 0; left: 0; pointer-events: all; padding: 2.5vh 2.5vw;  transition: all 0.3s ease-in-out;}
.blur-bg {backdrop-filter: blur(5px);}
.inactive-viewer-window {pointer-events: none !important;}
#goToMe {width: 30vw; height: 22vw; transition: width 0.5s ease, height 0.5s ease, opacity 4s ease, border-width 0.5s ease;}
.fullscreen {width: 90vw !important; height: 90vh !important;}


.close-button {padding: 20px; background: white; z-index: 301; border: 3px solid black; border-radius: 5px;}
.black-text {color: black !important;}

.visible-content .project-title {font-size: clamp(28px, 5vw, 56px);}

.grid {height: 100%; width: 100%;}
.grid:after {
  content: '';
  display: block;
  clear: both;
}
.grid-sizer, .grid-item {width: 33%; height: auto; }
.grid-item--width2 {width: 66%;}

.grid-item {opacity: 0; padding: 5px; overflow: hidden; transition: transform 0.3s ease-in-out;}

.grid-item img {display: block; width: 100%; height: auto; object-fit: cover; transition: transform 0.3s ease-in-out;}
.grid-item:hover img {transform: scale(1.02);}
.caption {padding: 10px; font-size: 14px; text-align: center; color: #555; background: rgba(0, 0, 0, 0.1);}


@media screen and (max-width: 800px) {
  .grid-sizer, .grid-item {width: 50%;}
  .grid-item--width2 {width: 100%;}
  
}

@media screen and (max-width: 600px) {
  .grid-sizer, .grid-item {width: 100%;}
  .grid-item--width2 {width: 100%;}
}

#masonryWrapper {overflow-y: scroll;  width: 100%; }