.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30vw, 1fr));
    gap: 20px;
    padding: 20px;
    max-height: 80vh; 
    overflow-y: scroll;
  }
  
  .grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  
  .image {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform 0.3s ease;
    border-radius: 8px;
  }
  
  .image-tall {
    aspect-ratio: 2 / 3; /* Ensures the image is tall */
  }
  
  .image-wide {
    aspect-ratio: 3 / 2; /* Ensures the image is wide */
  }
  
  
  .caption {
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
    color: #333;
  }
  