:root {
    --wide-card-width: 36vw!important;
    --tall-card-width: 26vw!important;
  }

/* PhotoCardGrid.tsx */
#cardContainer {width: 100%; padding: 1.5vw;}
.wide-column { width: 100%; max-width: 40vw; padding: 2vw 1vw;}
.tall-column { width: 100%; max-width: 29vw; padding: 2vw 1vw;}
#column2, #column3 {width: 50%;}
#viewerWindow {width: 100vw; height: 100vh; z-index: 30000; position: fixed; top: 0; left: 0; pointer-events: all; padding: 2.5vh 2.5vw;  transition: all 0.3s ease-in-out;}
.inactive-viewer-window {pointer-events: none !important;}
.fullscreen {width: 90vw !important; height: 90vh !important;}
.visible-content .project-title {font-size: clamp(28px, 5vw, 56px);}
.blur-bg {backdrop-filter: blur(5px);}
.visible-content {opacity: 1 !important;}
#goToMe {width: 30vw; height: 22vw; transition: width 0.5s ease, height 0.5s ease, opacity 4s ease, border-width 0.5s ease;}


@media screen and (max-width: 600px) {
    #cardContainer {flex-direction: column; height: 100%;}
    .wide-column {flex-direction: column; min-width: 95vw!important; width: 100%; max-width: 90vw;}
    #column1 {min-width: 100vw; max-width: unset; width: 100vw;}
}

@media screen and (max-width: 750px){
    #column1 { max-width: 45vw;}
    #column2and3wrapper {flex-direction: column; max-width: unset; min-width: 45vw;}
    #column2, #column3 {width: 100%; min-width: unset; max-width: unset;}
    #column3 .tall-card {aspect-ratio: 4/3!important; }
}

/* PhotoCard.tsx */

.wide-card {aspect-ratio: 4/3; min-width: 100%;}
.tall-card {aspect-ratio: 3/4; min-width: 100%;}
.front, .back {position: absolute; width: 100%; height: 100%; backface-visibility: hidden; border-radius: 8px;}
.front {background-image: url('/cards/card-bg.png'); background-size: cover; background-position: center; z-index: 2; transform: rotateY(0deg);}
.back {background-color: white; background-size: cover; background-position: center center; background-repeat: no-repeat; transform: rotateY(180deg);}
.card-inner {width: 100%; height: 100%; border-radius: 10px; transform-style: preserve-3d;}
.card-inner.flip {transform: rotateY(180deg);}

.front-content {width: 100%; height: 100%;  padding: 1.5vw; background: white; border: 2px solid black; opacity: 0; transition: opacity 0.5s ease; border-radius: 5px; }
.front-content-wrapper {object-fit: contain; overflow-y: scroll; max-height: 85vh;}
.back-content {padding: 10px;}
.project-title {background: #E8E0D2; font-size: clamp(24px, 4vw, 36px); line-height: clamp(30px, 5vw, 42px);  text-shadow: -0.5px 0 1px black, 0 0.5px 1px black, 0.5px 0 1px black, 0 -0.5px 1px black; background-position: center 90%; -webkit-background-clip: text; font-family: 'PalaceRegular', serif; text-transform: uppercase; color: #E8E0D2; margin: 0;}
.project-subtitle {background: #E8E0D2;  text-align: center; text-shadow: -0.5px 0 1px black, 0 0.5px 1px black, 0.5px 0 1px black, 0 -0.5px 1px black; background-position: center 90%; -webkit-background-clip: text; font-family: 'PalaceRegular', serif; text-transform: uppercase; color: #E8E0D2; margin: 0;}


.close-button {padding: 10px; margin-top: -5px; margin-right: 20px; height: 50px; width: 50px; background: white; z-index: 301; border: 3px solid black; border-radius: 5px;}

/* PhotoCardPhotoGrid.tsx */
#masonryWrapper {overflow-y: scroll; height: 100%; width: 100%; padding: 0 15px; }
.mason-grid { width: calc(100% - 10px); display: flex; align-items: flex-start; justify-content: flex-start; flex-wrap: wrap;}
.mason-inner-container {display: flex; align-items: flex-start; justify-content: flex-start; width: 100%;}
.mason-50-container {min-width: 50%;}

.mason-inner-container {min-width: calc(50% - 10px); padding: 5px 0;}
.mason-item {padding: 5px; object-fit: contain;}

.mason-item img {width: 100%;}
.mason-1 {width: 100%; opacity: 0;}
.mason-2 {width: 50%;}

@media screen and (max-width: 800px) {
  .mason-1, .mason-2 {width: 100%}
  .mason-inner-container {flex-direction: column;} 
}

/* Prints.tsx */
.print {width: 30vw; margin: 1vw 0; display: flex; align-items: flex-center; justify-content: flex-center; flex-direction: column;}
.print img {width: 100%; }
.caption {padding: 10px; background: #e2e2e2; text-align: center; }
.caption p {font-size: 18px;}

.credits-section h3 {font-size: 20px; font-weight: 700; line-height: 24px; margin: 0;}
.credits-section p {font-size: 16px; line-height: 20px;}