
:root {
    --cardMaxWidth: 24vw;
    --cardMaxHeight: 34vw;
    --cardWidth: 30vw;
    --cardHeight: 40vh;
    --cardFont: "CardFontNarrow", serif;
}

.cards-container {width: 100%; padding-bottom: 40vh; height: 140vh; position: fixed; top: 0vh; }







  
.card-inner {  position: relative;
  background: white;
    border-radius: 10px;
    width: 100%;
    
    aspect-ratio: 3/4;
    transform-style: preserve-3d; /* Enables 3D transform */
    transition: transform 0.6s; /* Smooth flipping animation */ }

.card { transition: transform 0.2s ease;
   perspective: 1000px; 
   aspect-ratio: 3/4;
   width: 24vw; 
    max-width: 240px;
}


.card-front { background: white; border-radius: 10px; box-shadow: 2px 2px 2px rgba(0,0,0,0.25); aspect-ratio: 3/4; }
.card-back{ transform: rotateY(180deg); }
.card-back-design {height: 100%; width: 100%; border-radius: 10px; box-shadow: 2px 2px 2px rgba(0,0,0,0.25); background-color: white; background-image: url('/cards/card-textured-bg.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center center; background-repeat: no-repeat;}
.card-front, 
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; /* Hides the back when the front is visible */
}



.flipped .card-inner {transform: rotateY(180deg);}
.flipped .card-front {backface-visibility: hidden;}


/* PlayingCardFormat.tsx component styling */
.playing-card { width: 90%; height: 95%; aspect-ratio: 3/4!important;}
.playing-card-top { height: 15%; }
.playing-card-top p {font-family: var(--palace-regular)!important; line-height: 0!important; padding: 10% 0!important; margin: 0; font-weight: 100;}



.playing-card-center {height: 70%;}
.playing-card p {font-size: clamp(14px, 4vw, 36px); font-weight: 600; line-height: 2.5rem; padding: 0;}


@keyframes wobble {
    0% {
      translate: scale(1)
    }
    50% {
        translate: scale(1.1)
    }
    100% {
        translate: scale(1)
    }
  }

  .card-expand {width: 100vw; top: 10px!important;  height: 100vh; min-width: 100vw; min-height: 100vh;}
  .move {transition: transform 0.5s ease, top 0.5s ease, left 0.5s ease, width 0.5s ease, height 0.5s ease; position: relative; background-image: url('../../../public/cards/card-bg.png'); background-size: 0;}
.expand-inner {
  border-radius: 0px; transform-origin: center center; width: 100vw; min-width: 100vw!important; min-height: 100vh; background-repeat: repeat;
  background-size: 100vw 100vh!important;
}





#positionerWrapper {height: 100vh; min-height: 100vh; width: 100%;}
.positioner {position: absolute;}
.animation-1-card {position: fixed;}
#AboutCard.animation-1-card {z-index: 4; transform: rotate(55deg) translate(125px, 20px); transition: transform 0.8s ease;}  
#PhotoCard.animation-1-card {z-index: 3; transform: rotate(30deg) translate(85px, 10px); transition: transform 0.8s ease;}
#VideoCard.animation-1-card {z-index: 2; transform: rotate(15deg) translate(45px, 5px); transition: transform 0.8s ease;}  
#ProductionCard.animation-1-card {z-index: 1; transform: rotate(0deg) translate(0px, 0px); transition: transform 0.8s ease;}
  

/* POST */

/* Stage 1 */
#homeCardsWrapper {opacity: 0;}
#homeCardsWrapper {position: fixed; top: 0; left: 0; width: 100vw; height: 100vh; transition: opacity 0.1s ease;}
#AboutCard.animation-2-card {z-index: 4; transform: rotate(0deg) translate(0px, 0px); transition: transform 0.8s ease;}  
#PhotoCard.animation-2-card {z-index: 3; transform: rotate(0deg) translate(0px, 0px); transition: transform 0.8s ease;}
#VideoCard.animation-2-card {z-index: 2; transform: rotate(0deg) translate(0px, 0px); transition: transform 0.8s ease;}  
#ProductionCard.animation-2-card {z-index: 1; transform: rotate(0deg) translate(0px, 0px); transition: transform 0.8s ease;}
  
.about-card-front {background: url('/cards/about-card_2.svg'); background-size: contain;}
.photo-card-front {background: url('/cards/photo-card_2.svg'); background-size: contain;}
.production-card-front {background: url('/cards/production-card_2.svg'); background-size: contain;}
.video-card-front {background: url('/cards/video-card_2.svg'); background-size: contain;}



.animation-3-card {position: relative; transition: position 0.8s ease;}  
.positioner-post {width: 100%; height: 35vh;}
.positioner-post span {min-height: 50px; max-height: 50px; width: 100%; display: flex; flex-grow: unset; align-items: center; justify-content: center;}
.positioner-star {height: 50px; min-height: 50px; max-height: 50px; width: 100%; display: flex; justify-content: center; align-items: center;}